<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CONFIGURACIONES</h1>
    <p class="mb-4">Aquí se realizan tareas de administración de tablas, ya sea exportación, importación o modificación
        de datos.</p>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Importación de Datos</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 mb-3 font-weight-bold">Elige en qué formato vas a subir los datos:</h6>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">I</span>
                        <span class="text">Base de Datos FureyAdmin Nativa</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">I</span>
                        <span class="text">Base de Datos Formato Excel</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">I</span>
                        <span class="text">Base de Datos Formato JSON</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Exportación de Datos</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 mb-3 font-weight-bold">Elige en qué formato vas a descargar los datos:</h6>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">E</span>
                        <span class="text">Base de Datos FureyAdmin Nativa</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">E</span>
                        <span class="text">Base de Datos Formato Excel</span>
                    </a>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">E</span>
                        <span class="text">Base de Datos Formato JSON</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Creación de Tablas</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 mb-3 font-weight-bold">Si no tienes una Base de Datos o quieres añadir Tablas a la
                        que ya tienes:</h6>
                    <div class="my-2"></div>
                    <div class="d-flex justify-content-center">
                        <form action="/admin/object" origen="settings" method="PUT" id="tableForm"
                            class="w-100 fureyForm">
                            <input type="hidden" name="objtype" value="table">
                            <div class="d-flex justify-content-evenly">
                                <div class="form-group w-50">
                                    <input type="text" placeholder="Nombre de la Tabla" name="tableid"
                                        class="form-control">
                                </div>
                                <btn style="height:min-content" class="btn btn-success btn-icon-split w-25 d-flex"
                                    onclick="$('#tableForm').submit()">
                                    <span class="icon text-white-50 me-auto">C</span>
                                    <span class="text me-auto">Crear</span>
                                </btn>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content fureyForm" action="/admin/object/{{title}}" method="DELETE" id="deleteForm">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Eliminar toda la Tabla:</h4>
                <div class="form-check ms-4">
                    <input type="checkbox" class="form-check-input" name="full" value="full" id="deleteCheckItemFull">
                    <label class="form-check-label" for="deleteCheckItemFull">Eliminar COMPLETAMENTE
                        {{title}}</label>
                </div>
                <h4 class="mt-2">Eliminar Columnas:</h4>
                <div class="ms-4" id="deleteCheckBoxCol"></div>
                <h4 class="mt-2">Eliminar Funciones:</h4>
                <div class="ms-4" id="deleteCheckBoxRel"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" id="deleteFormBTN" data-dismiss="modal">ELIMINAR</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        __afterFill()
    });
</script>