<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">UTILIDADES</h1>
    <p class="mb-4">Aquí se puede personalizar y estilizar todo lo relacionado a las tablas.</p>

    <div class="row justify-content-center" id="utilitiesTable">
    </div>

</div>
<!-- /.container-fluid -->

<script>
    document.addEventListener("DOMContentLoaded", () => {
        fillUtilitiesTable();
    });
</script>